version: "3.9"
services:
  app:
    image: varunmkn/campus-latestv4
    container_name: campus-contv4
    ports:
      - "9090:8080"   # HostPort:ContainerPort, App accessible at http://localhost:9090
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: mydb
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: myproject_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:

# version: '3.9'


# services:
#   tomcat-app:
#     image: tomcat:9.0
#     container_name: tomcat_app
#     ports:
#       - "8086:8080"   # Host 8086 maps to container 8080 (Tomcat portal)
#       - "7007:8080"   # Host 7007 maps to container 8080 (your WAR app)
#     volumes:
#       - ./your-app.war:/usr/local/tomcat/webapps/your-app.war
#     restart: unless-stopped

# services:
#   tomcat-app:
#     image: tomcat:9.0
#     container_name: tomcat_app
#     ports:
#       - "8086:8080"   # Host 8086 maps to Tomcat container 8080
#     volumes:
#       - ./app1.war:/usr/local/tomcat/webapps/ROOT.war
#     environment:
#       - REDIS_HOST=redis
#       - REDIS_PORT=6379
#     depends_on:
#       - redis
#     restart: unless-stopped


#   redis:
#     image: redis:7.0
#     container_name: redis
#     ports:
#       - "6379:6379"
#     restart: unless-stopped


# services:
#   foodsystem-app:
#     image: kumbhambhargavi/APPNAME:latest
#     container_name: APPNAME-container
#     ports:
#       - "7007:8080"  # Host 7007 → Container 8080
#     depends_on:
#       - mongodb
#     environment:
#       - MONGO_URI=mongodb://mongouser:mongopass@mongodb:27017/foodsystem
#     restart: unless-stopped


#   mongodb:
#     image: mongo:6
#     container_name: mongodb
#     environment:
#       MONGO_INITDB_ROOT_USERNAME: mongouser
#       MONGO_INITDB_ROOT_PASSWORD: mongopass
#     ports:
#       - "27017:27017"  # Host 27017 → Container 27017
#     volumes:
#       - mongodb-data:/data/db
#     restart: unless-stopped

# volumes:
#   mongodb-data:



# services:
#   foodsystem-app:
#     image: kumbhambhargavi/fimage:latest
#     container_name: -container
#     ports:
#       - "7007:8080"
#     depends_on:
#       - postgresdb
#     environment:
#       - DB_HOST=postgresdb
#       - DB_PORT=5432
#       - DB_USER=fuser
#       - DB_PASSWORD=fpass
#       - DB_NAME=fappname

#   postgresdb:
#     image: postgres:15
#     container_name: postgresdb
#     environment:
#       POSTGRES_USER: fuser
#       POSTGRES_PASSWORD: fpass
#       POSTGRES_DB: fsystem
#     ports:
#       - "5432:5432"
#     volumes:
#       - pgdata:/var/lib/postgresql/data

curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-installer.exe
.\minikube-installer.exe

minikube start --driver=docker

kubectl create deployment mynginx --image=nginx

kubectl get pods
kubectl get deployments
kubectl describe pods

kubectl expose deployment mynginx --type=NodePort --port=80 --target-port=80
kubectl get service mynginx

kubectl scale deployment mynginx --replicas=4

kubectl port-forward svc/mynginx 8081:80
http://localhost:8081

minikube dashboard
kubectl delete deployment mynginx
kubectl delete service mynginx
minikube stop
minikube delete


docker pull jasonrivers/nagios:latest
docker run --name nagiosdemo -p 8888:80 jasonrivers/nagios:latest
http://localhost:8888
Username: nagiosadmin
Password: nagios
docker stop nagiosdemo
docker rm nagiosdemo
docker rmi jasonrivers/nagios:latest


Create instance , take the ssh command, paste in terminal
sudo apt update
sudo apt-get install docker.io
sudo apt install git
sudo apt install nano
clone
cd 
sudo docker build -t img1 .
sudo docker run -d -p 8000:80 img1

dockerfile
FROM nginx:alpine
COPY . /usr/share/nginx/html

pipeline {
    agent any
    stages {
        stage('git repo & clean') {
            steps {
                //bat "rmdir  /s /q mavenjava"
                bat "git clone https://github.com/MKN-Sai-Varun/MavenJava.git"
                bat "mvn clean -f mavenjava"
            }
        }
        stage('install') {
            steps {
                bat "mvn install -f mavenjava" 
            }
        }
        stage('test') {
            steps {
                bat "mvn test -f mavenjava"
            }
        }
        stage('package') {
            steps {
                bat "mvn package -f mavenjava"
            }
        }
    }
}

